html
    head
        title= title
        style(type='text/css').
           h1 {
                color:#555;
                width:max-content;
                margin:100px auto;
                font-family:tahoma;
            }
body
    h1= message 